<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <client>
      <endpoint name="BomberServiceEndpoint" address="net.tcp://localhost:8080/BomberService" binding="netTcpBinding" bindingConfiguration="BindingConfiguration" contract="BomberContracts_WCF.IBomberService">
        <identity>
          <servicePrincipalName value=""/>
        </identity>
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="BindingConfiguration"
                 transferMode="Buffered">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>